<div class="row">
	<div class="small-6 large-centered columns">
		<div class="panel">
			<br>
			<h1 style="text-align: center">Entrar</h1>
			<%= form_tag session_path do %>
			<div class="field">
				<label>E-mail:
					<%= text_field_tag :email %>
				</label>
			</div>
			<div class="field">
				<label>Senha:
					<%= password_field_tag :password %>
				</label>
			</div>
			<div class="actions">
				<%= submit_tag 'Entrar', :class => 'button small default right' %>
				<br>
				<br>
			</div>
			<% end %>
		</div>
	</div>
</div>